@use 'config' as *;
@use 'utilities' as *;

@media (max-width: 415px) and (max-height: 897px) {
  #reels-header-mq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .user-bold {
      font-size: 1.7rem;
    }

    .camera {
      font-size: 1.4rem;
    }
  }
}

#main-reels-mq {
  #reels {
    height: 745px;
    width: 414px;
    display: flex;
    align-items: flex-end;
    position: relative;

    .reels {
      &-a {
        padding: 0 1rem 1rem 1rem;
        width: 100%;

        .section {
          &-a {
            display: flex;
            align-items: center;

            .user-img {
              height: 30px;
              width: 30px;
              margin-right: 0.5rem;
            }

            .user {
              margin-right: 1rem;
            }

            .follow {
              border: $border;
              border-radius: 10px;
              padding: 0.3rem;
              font-weight: bold;
            }
          }

          &-b {
            margin-top: 1rem;

            .caption {
              font-size: 0.9rem;
            }
          }

          &-c {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            overflow: hidden;

            .fa-music {
              font-size: 0.9rem;
            }

            .song {
              display: block;
            }

            .song-img {
              height: 30px;
              width: 30px;
              border-radius: 10px;
            }
          }
        }
      }

      &-b {
        padding: 0 1rem 1rem 0;
        position: absolute;
        bottom: 50px;
        right: 0px;

        .icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .icon {
            font-size: 1.7rem;
            margin-bottom: 0.5rem;

            &:last-child {
              font-size: 1.5rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
